.group{
	margin-bottom:15px;
}

.group .inputTask,
.group .inputDes{
    border:none;
	padding:15px 14px;
	border-radius:25px;
	background:rgba(14, 209, 218, 0.2);
}

.group .inputTask{
    margin-left: 15px;
    width: 80%;
}

.group .inputDes{
    width: 95%;
}

.group .label{
	color: #bf3c1b;
	font-size: 16px;
}

.editBtns{
    display: flex;
    flex-flow: row;
}

.group input:focus,
.group textarea:focus{
    background:rgba(67, 219, 226, 0.45);
}


.group input[type="text"]{
    font-size: 14px;
    text-transform: capitalize;
}

.group select {
    cursor: pointer;
    font-size: 16px;
    margin-left: 22px;
    height: 40px;
    width: 122px;
    background: rgba(14, 209, 218, 0.2);
  }

@media (max-width : 700px) {
    .group .label,
    .group .inputTask{ 
        display: block;
    } 
    
    .group .inputTask,
    .group select {
        margin-top : 5px;
        width: 91%;
        margin-left: 0px;
    }

    .group .inputDes{
        width : 91%;
    }
    
}    